.App{
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

}
.AppHeader{
  height: 40px;
  display : flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 30px 4px 30px;
  font-family: poppins;
  border-bottom: 1px solid rgba(71, 71, 71,0.15);

}
.AppFooter{
height: 50px;
display: flex;
align-items: center;
justify-content: space-around;
/* padding: 4px 30px 4px 30px; */
border-top: 1px solid rgba(71, 71, 71,0.15);
}
.SideMenuAndPageContent{
display: flex;
flex:1;

}
.SideMenu{
  width: 180px;
  border-right: 1px solid rgba(71, 71, 71,0.15);

}
.PageContent{
flex:1;
padding: 16px;
} 
